
body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: white;
	font-size: 14pt;
	font-family: "Lato","Helvetica Neue",Helvetica,sans-serif;
	font-weight: 300;
	word-spacing: 0.3em;
	background-color: #66CCFF;
}


@font-face {
	font-family: title;
	src: url(other/billabong.ttf);
}


#main_title{
	font-family: title;
	font-size: 70px;
	padding: 20px;
	padding-bottom: 0px;
}

#body_inner{
	display: inline-block;
	float: center;
	text-align: left;
	width: 90%;
	max-width: 777px;
	padding-bottom: 20px;
	overflow: hidden;
}




/* STAT */

#stat{
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.stat_div{
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	width: calc(30% - 12px);
	display: inline-block;
	padding: 15px 5px;
	border-bottom: 1px solid transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.stat_div:hover{
	border-bottom: 1px solid #fff;
}

#ranking{
	display: none;
	margin-bottom: 50px;
}


.ranking_row{
	display: inline-block;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #fff;
}

.ranking_cell{
	display: inline-block;
	padding: 15px 5px;
	text-align: center;
	font-size: 16px;
	width: calc(30% - 12px);
	overflow-x: hidden;
}

.ranking_pseudo{
	text-align: left;
	float: left;
	width: calc(35% - 12px);
	margin-right: -4%;
}

#close_ranking{
	display: none;
	float:right;
	cursor:pointer;
	color: #fff;
	border-radius: 30px;
	font-size: 41px;
	font-weight: lighter;
	line-height: 0px;
	padding: 11px 3px;
}

#close_ranking:before {
	content: "×";
}




/* LIST MESSAGES */

#message_list{
	display: inline-block;
	width: 100%;

}

.row_message{
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #fff;
	margin-top: 20px;
	padding-bottom: 20px;
}

.pseudo_message{
	display: inline-block;
	float: left;
	padding-right: 10px;
	font-weight: bold;
}

.timestamp_message{
	display: inline-block;
	float: left;
	font-size: 14px;
	padding-top: 4px;
}

.header_message{
	display: inline-block;
	width: 100%;
}



/* INPUT */

.input_base{
	display: inline-block;
	outline: none;
	font-size: 20px;
	background: transparent;
	border: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	resize: none;
	width: 100%;
	padding-bottom: 10px;
}

#input_pseudo{
	padding-top: 20px;
	margin-left: 3px;
	margin-bottom: 30px;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #ddd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #ddd;
	opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #ddd;
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #ddd;
}



/* BUTTON */

.btn{
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	border: 1px solid #fff;
	border-radius: 20px;
}
.btn:hover{
	border: 1px solid #66CCFF;
	background-color: #fff;
	color: #66CCFF;
}
.btn:active{
	border: 1px solid #66CCFF;
	background-color: #eee;
	color: #66CCFF;
}

#btn_send{
	display: none;
}



/* RESPONSIVE */

@media all and (max-width: 800px){
	#btn_send{
		display: inline-block;
	}
}


@media all and (max-width: 500px){
	#main_title{
		font-size: 40px;
	}
}








