
body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: white;
    font-size: 14pt;
    font-family: "Lato","Helvetica Neue",Helvetica,sans-serif;
    font-weight: 300;
    word-spacing: 0.3em;
    background-color: #66CCFF;
}


@font-face {
    font-family: title;
    src: url(other/billabong.ttf);
}


#main_title{
	font-family: title;
	font-size: 70px;
	padding: 20px;
}

#body_inner{
	display: inline-block;
	float: center;
	text-align: left;
	width: 90%;
	max-width: 777px;
	padding-bottom: 20px;
}


#loading{
	display: inline-block;
	float: center;
	position: absolute;
	margin-top: 30px;
	text-align: left;
	margin-left: -90px;
}





/* LIST MESSAGES */

#message_list{
	display: inline-block;
	width: 100%;

}

.row_message{
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #fff;
	margin-top: 20px;
	padding-bottom: 20px;
}

.pseudo_message{
	display: inline-block;
	float: left;
	padding-right: 10px;
	font-weight: bold;
}

.timestamp_message{
	display: inline-block;
	float: left;
	font-size: 14px;
	padding-top: 4px;
}

.header_message{
	display: inline-block;
	width: 100%;
}



/* INPUT */

.input_base{
	display: inline-block;
	outline: none;
	font-size: 20px;
	background: transparent;
	border: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	resize: none;
	width: 100%;
	padding-bottom: 10px;
}

#input_pseudo{
	margin-left: 3px;
	margin-bottom: 30px;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ddd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ddd;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ddd;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ddd;
}



/* BUTTON */

.btn{
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	margin: 5px;
	border: 1px solid #fff;
	border-radius: 20px;
}
.btn:hover{
	border: 1px solid #66CCFF;
	background-color: #fff;
	color: #66CCFF;
}
.btn:active{
	border: 1px solid #66CCFF;
	background-color: #eee;
	color: #66CCFF;
}

#btn_send{
	display: none;
}



/* RESPONSIVE */

@media all and (max-width: 800px){
    #btn_send{
		display: inline-block;
	}
}


@media all and (max-width: 500px){
    #main_title{
		font-size: 40px;
	}
	#loading{
		margin-left: -60px;
		margin-top: 15px;
	}
}



/* LOADING BALL */

.ball {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}

.ball1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}


@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}







